* {
    /* propiedades de espaciado */
    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;
    /* la propiedad magica */
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}
body {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(assets/MacBook\ Air\ -\ 1\ body.png);
    background-size: cover;
    

ul {
    list-style: none;
}
h1 {
    font-size: 43px;
    text-align: center;
    padding: 60px 0px;
}

.player {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 0 0 60px 0px;




}
.time {
    display: flex;

    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

}
.prev {
    display: flex;
    flex-direction: column;
    background-color: #1d2d4473;
    color: #ffffff;
    border-radius: 0px 30px 30px 0px;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
.reproductor {
    display: flex;
    background-color: #748cab70;
    padding: 20px 40px;
    border-radius: 30px 0px 0px 30px;
 
    

    color: #ffffff;
}
.centroReproductor {
    display: flex;

}
.musica {
    background-color: #1d2d44c0;
    padding: 20px 40px;
    border-radius: 0px 30px 30px 0px;
}
.texto-reproductor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.album{
    border-radius: 30px;
}
.next{
    display: flex;
    flex-direction: column;
    background-color: #1d2d4473;
    color: #ffffff;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
.listas{
    display: flex;
    justify-content: center;
    gap: 150px;

}
.playlist{
    background-color: #748cab70;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
    align-items:center ;
}
.top{
    background-color: #748cab70;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
    align-items:center ;
}
.listas h2 {
    font-weight: 600;
}
.cancion img{
    border-radius: 300px;
}
}